.env
# Исключаем файлы документации
README.md

# Исключаем файлы и каталоги для тестирования
phpunit.xml
/tests

# Исключаем файлы для оркестрации Docker
docker-compose.yml

# Исключаем IDE файлы
.idea/
.vscode/

# Исключаем .git директорию
.git/


